<!--#使用する値
    hp,mp #ここで入力したものを保存

    #計算
    ap = int(request.POST['hp'])*int(request.POST['mp']) in views.calc2
-->
{% block title %}AP電卓{% endblock title %}
{% block content %}
    <a href="{% url 'polls:index' %}">一覧画面へ</a>
    <h1>AP計算機</h1>
    <form method="post" action="">
        {% csrf_token %}
        AP = HP X MP =
        <input type="number" name="hp">
        X
        <input type="number" name="mp">
        <button type="submit"> = </button><br>
        event:
        <input type="text" name="event", size="60">
        <h1>前回のステータス:</h1>AP:{{p1ap}},HP:{{ p1hp }},MP:{{ p1mp }},event:{{ p1ev }}
    </form>
<!--表示は円形のメータで考える(ムカワ案)-->
{% endblock %}